<h1 class="page-header">Add Employee</h1>


<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Registration Form -->
<form [formGroup]="form" (submit)="onRegisterSubmit()">

  <!-- firstname Input -->
  <div class="form-group">
    <label for="firstname">First Name</label>
    <div [ngClass]="{'has-error': (form.controls.firstname.errors && form.controls.firstname.dirty), 'has-success': !form.controls.firstname.errors}">
      <input type="text" name="firstname" class="form-control" autocomplete="off" placeholder="*firstname" formControlName="firstname" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.firstname.errors?.required && form.controls.firstname.dirty">This field is required</li>
        <li *ngIf="form.controls.firstname.errors?.minlength && form.controls.firstname.dirty || form.controls.firstname.errors?.maxlength && form.controls.firstname.dirty ">Minimum characters: 2, Maximum characters: 30</li>
        <li *ngIf="form.controls.firstname.errors?.validatefirstname && form.controls.firstname.dirty">firstname must not have any special characters</li>
      </ul>
    </div>
  </div>

  <!-- lastname Input -->
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <div [ngClass]="{'has-error': (form.controls.lastname.errors && form.controls.lastname.dirty), 'has-success': !form.controls.lastname.errors}">
      <input type="text" name="lastname" class="form-control" autocomplete="off" placeholder="*lastname" formControlName="lastname" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.lastname.errors?.required && form.controls.lastname.dirty">This field is required</li>
        <li *ngIf="form.controls.lastname.errors?.minlength && form.controls.lastname.dirty || form.controls.lastname.errors?.maxlength && form.controls.lastname.dirty">Minimum characters: 2, Maximum characters: 30</li>
        <li *ngIf="form.controls.lastname.errors?.validatelastname && form.controls.lastname.dirty">lastname must not have any special characters</li>
      </ul>
    </div>
  </div>

  <!-- dob Input -->
  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <div [ngClass]="{'has-error': (form.controls.dob.errors && form.controls.dob.dirty), 'has-success': !form.controls.dob.errors}">
      <input type="date" name="dob" class="form-control" autocomplete="off" placeholder="*dob" formControlName="dob" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.dob.errors?.required && form.controls.dob.dirty">This field is required</li>
      </ul>
    </div>
  </div>

  <!-- Submit Input -->
  <input type="submit" class="btn btn-primary" value="Save" />
  <input type="submit" class="btn btn-warning" value="Cancel" />

</form>
<!-- Registration Form /-->
