<h1 class="page-header">Employee Add Screen</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- New Post Button -->
<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">Add Employee</button>

<!-- Reload Button -->
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadBlogs()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<br />
<br />

<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
  <!-- firstname Input -->
  <div class="form-group">
    <label for="firstname">First Name</label>
    <div [ngClass]="{'has-success': form.controls.firstname.valid, 'has-error': form.controls.firstname.dirty && form.controls.firstname.errors}">
      <input type="text" name="firstname" class="form-control" placeholder="*Employee firstname" autocomplete="off" formControlName="firstname" />
      <ul class="help-block">
        <li *ngIf="form.controls.firstname.dirty && form.controls.firstname.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.firstname.dirty && form.controls.firstname.errors?.minlength) || (form.controls.firstname.dirty && form.controls.firstname.errors?.maxlength)">Max length: 50, Min length: 5</li>
        <li *ngIf="form.controls.firstname.dirty && form.controls.firstname.errors?.alphaNumericValidation">Must be a letter or number</li>
      </ul>
    </div>
  </div>

  <!-- lastname Input -->
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <div [ngClass]="{'has-success': form.controls.lastname.valid, 'has-error': form.controls.lastname.dirty && form.controls.lastname.errors}">
      <input type="text" name="lastname" class="form-control" placeholder="*Employee lastname" autocomplete="off" formControlName="lastname" />
      <ul class="help-block">
        <li *ngIf="form.controls.lastname.dirty && form.controls.lastname.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.lastname.dirty && form.controls.lastname.errors?.minlength) || (form.controls.lastname.dirty && form.controls.lastname.errors?.maxlength)">Max length: 500, Min length: 5</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <div [ngClass]="{'has-success': form.controls.dob.valid, 'has-error': form.controls.dob.dirty && form.controls.dob.errors}">
      <input type="Date" name="dob" class="form-control" placeholder="*Employee dob" autocomplete="off" formControlName="dob" />
      <ul class="help-block">
        <li *ngIf="form.controls.dob.dirty && form.controls.dob.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.dob.dirty && form.controls.dob.errors?.minlength) || (form.controls.dob.dirty && form.controls.dob.errors?.maxlength)">Max length: 500, Min length: 5</li>
      </ul>
    </div>
  </div>

  
  <!-- Go Back Button -->
  <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back/Cancel</button>
  <!-- Submit Button -->
  <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Save</button>

</form>
<!-- New Blog Form -->
   
<!-- Panel Start -->
<div *ngIf="!newPost">
  <!-- Panel Outer Layer -->
  <div class="panel panel-primary" >

    <!-- Panel firstname -->
    <div class="panel-heading">
      <h3 class="panel-title"><table class="inner">
          <tr>
              <td>Firstname</td>
              <td>Lastname</td>
              <td>DOB</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          </table></h3>
    </div>
    
    <!-- Panel lastname -->
    <table class="table table-bordered table-hover" *ngFor="let employee of blogPosts">
     
      <tbody>
        <tr>
          <td align="center">{{employee.firstname}} </td>
          <td align="center">{{employee.lastname}}</td>
          <td align="center">{{employee.dob | dateFormatPipe}}</td>
          <td align="center"><a [routerLink] = "['/edit-employee', employee._id]"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a></td>
          <td align="center"><a [routerLink] = "['/delete-employee', employee._id]"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a></td>
      </tbody>
    </table>

    <!-- Panel Footer End -->
  </div>
  <!-- Panel Outer Layer -->
</div>
<!-- Panel End -->