<h1 class="page-header">Employee Add Screen</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- New Post Button -->
<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">Add Employee</button>

<!-- Reload Button -->
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadBlogs()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<br />
<br />

<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
  <!-- Title Input -->
  <div class="form-group">
    <label for="title">First Name</label>
    <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
      <input type="text" name="title" class="form-control" placeholder="*Blog Title" autocomplete="off" formControlName="title" />
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or number</li>
      </ul>
    </div>
  </div>

  <!-- Body Input -->
  <div class="form-group">
    <label for="body">Last Name</label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
      <input type="text" name="body" class="form-control" placeholder="*Blog body" autocomplete="off" formControlName="body" />
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500, Min length: 5</li>
      </ul>
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="dob">Date of Birth</label>
    <div [ngClass]="{'has-success': form.controls.dob.valid, 'has-error': form.controls.dob.dirty && form.controls.dob.errors}">
      <input type="Date" name="dob" class="form-control" placeholder="*Blog dob" autocomplete="off" formControlName="dob" />
      <ul class="help-block">
        <li *ngIf="form.controls.dob.dirty && form.controls.dob.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.dob.dirty && form.controls.dob.errors?.minlength) || (form.controls.dob.dirty && form.controls.dob.errors?.maxlength)">Max length: 500, Min length: 5</li>
      </ul>
    </div>
  </div> -->
  
  <!-- Go Back Button -->
  <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back/Cancel</button>
  <!-- Submit Button -->
  <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Save</button>

</form>
<!-- New Blog Form -->

<!-- Panel Start -->
<div *ngIf="!newPost">
  <!-- Panel Outer Layer -->
  <div class="panel panel-primary">

    <!-- Panel firstname -->
    <div class="panel-heading">
      <h3 class="panel-firstname">Post firstname</h3>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <!-- Panel Footer Start -->
    <div class="panel-footer">

      <!-- Edit Button -->
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <!-- Delete Button -->
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>



    </div>
    <!-- Panel Footer End -->

  </div>
  <!-- Panel Outer Layer -->
</div>
<!-- Panel End -->